$scrollbar-border-radius: 100px;
$scrollbar-default-size: 12px;
$scrollbar-small-size: 4px;

@mixin scrollbar-base {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		background: transparent;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: 0;
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

@mixin scrollbar-hover($size) {
	&:hover {
		&::-webkit-scrollbar {
			width: $size;
			height: $size;
		}

		&::-webkit-scrollbar-track {
			background: var(--color-background-secondary);
		}

		&::-webkit-scrollbar-thumb {
			background: var(--color-background-deselected-hover);
			border-radius: $scrollbar-border-radius;
			transition: background 0.2s ease;

			&:hover {
				background: var(--color-background-deselected);
			}
		}

		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
}

@mixin firefox-scrollbar {
	@-moz-document url-prefix() {
		scrollbar-width: none;
		scrollbar-color: transparent transparent;

		&:hover {
			scrollbar-width: thin;
			scrollbar-color: var(--color-background-deselected-hover) var(--color-background-secondary);
		}
	}
}

* {
	@include scrollbar-base;
	@include scrollbar-hover($scrollbar-default-size);
	@include firefox-scrollbar;
}

.scrollbar-small {
	@include scrollbar-hover($scrollbar-small-size);
}
