$scrollbar-border-radius: 100px;
$scrollbar-default-size: 12px;
$scrollbar-small-size: 4px;

@mixin scrollbar-base($size) {
	overflow: overlay;

	&::-webkit-scrollbar {
		width: $size;
		height: $size;
		background: transparent;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: $scrollbar-border-radius;
		transition: background 0.2s ease;
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}

	// Show scrollbar colors on hover
	&:hover {
		&::-webkit-scrollbar-track {
			background: var(--color-background-secondary);
		}

		&::-webkit-scrollbar-thumb {
			background: var(--color-background-deselected-hover);

			&:hover {
				background: var(--color-background-deselected);
			}
		}
	}
}

@mixin firefox-scrollbar {
	@-moz-document url-prefix() {
		scrollbar-width: thin;
		scrollbar-color: transparent transparent;

		&:hover {
			scrollbar-color: var(--color-background-deselected-hover) var(--color-background-secondary);
		}
	}
}

* {
	@include scrollbar-base($scrollbar-default-size);
	@include firefox-scrollbar;
}

.scrollbar-small {
	@include scrollbar-base($scrollbar-small-size);
	@include firefox-scrollbar;
}
