// typography is defined in: https://www.figma.com/design/XJwVCvDPhD0dMTP4vr3xY3/%F0%9F%A6%95-%F0%9F%AA%86Style-%26-Design-System?node-id=4804-91960&node-type=frame&t=6LW93tAe2no6Rhgx-0
@use 'variables' as var;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: var.$font-family-primary;
}

@mixin base-font {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-regular;
  letter-spacing: 0;
  text-align: left;
}

@mixin line-clamp($lines: 2) {
  overflow: hidden;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h1, .h1 {
  @include base-font;
  font-size: var.$font-size-h1;
  line-height: var.$line-height-h1;
}

h2, .h2 {
  @include base-font;
  font-size: var.$font-size-h2;
  line-height: var.$line-height-h2;
}

h3, .h3 {
  @include base-font;
  font-size: var.$font-size-h3;
  line-height: var.$line-height-h3;
}

h4, .h4 {
  @include base-font;
  font-size: var.$font-size-h4;
  line-height: var.$line-height-h4;
}

h5, .h5 {
  @include base-font;
  font-size: var.$font-size-h5;
  line-height: var.$line-height-h5;
}

h6, .h6 {
  @include base-font;
  font-size: var.$font-size-h6;
  line-height: var.$line-height-h6;
}

h7, .h7 {
  @include base-font;
  font-size: var.$font-size-h7;
  line-height: var.$line-height-h7;
}

.p-xl {
  @include base-font;
  font-size: var.$font-size-p-xl;
  line-height: var.$line-height-p-xl;
}

.p-lg {
  @include base-font;
  font-size: var.$font-size-p-lg;
  line-height: var.$line-height-p-lg;
}

.p-base {
  @include base-font;
  font-size: var.$font-size-p-base;
  line-height: var.$line-height-p-base;
}

.p-special {
  @include base-font;
  font-size: var.$font-size-p-special;
  line-height: var.$line-height-p-special;
}

.p-s {
  @include base-font;
  font-size: var.$font-size-p-s;
  line-height: var.$line-height-p-s;
}

.action {
  @include base-font;
  font-size: var.$font-size-action;
  line-height: var.$line-height-action;
}

.action-lg {
  @include base-font;
  font-size: var.$font-size-action-lg;
  line-height: var.$line-height-action-lg;
}

.action-med {
  @include base-font;
  font-size: var.$font-size-action-med;
  line-height: var.$line-height-action-med;
}

.action-small {
  @include base-font;
  font-size: var.$font-size-action-small;
  line-height: var.$line-height-action-small;
}

.bold {
  font-weight: var.$font-weight-bold;
}

.medium {
  font-weight: var.$font-weight-medium;
}

.regular {
  font-weight: var.$font-weight-regular;
}

.light {
  font-weight: var.$font-weight-light;
}
